<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row h-100">
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <img src="../../assets/cars4rent.png">
                    </div>
                    <div class="col-8 d-flex justify-content-center align-items-center">
                        Cars4Rent - арендуйте авто выгодно
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <h5>Связаться:</h5>
                    </div>
                    <div class="col-6">
                        <div class="row my-2">
                            <div class="col">
                                <a href="mailto:i.a.volik@gmail.com" target="_blank">
                                    <i class="fas fa-envelope-open-text mr-2"></i>Почта
                                </a>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <a href="http://vk.com/ivankilov" target="_blank">
                                    <i class="fab fa-vk mr-2"></i>ВКонтакте
                                </a>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col">
                                <a href="tel:89670654854" target="_blank">
                                    <i class="fas fa-mobile-alt mr-2"></i>Телефон
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <h5>Разработано в 2020 году | Все права защищены</h5>
        </div>
    </div>
</div>