@import '../../../colors.less';

.flex-container{
    .card{
        width: 80%;
        margin: auto;
        background-color: @form-gray;
        border: 2px @form-gray;
        border-radius: 10px;
        box-shadow: 0 0 10px;
        .image{
            width: 60%;
            padding-top: 10px;
            margin: auto;
            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        .desc{
            width: 80%;
            margin: auto;
            background-color: @form-text;
            border: 2px @form-text;
            border-radius: 10px;
            box-shadow: 0 0 5px;
        }
        .row{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        b{
            text-align: center;
        }
    }
    .btn-order{
        width: 80%;
        margin: auto;
    }
}