<div class="container-fluid">
    <div class="d-flex py-4">
        <div class="filters" [ngClass] = "{'mobile-filters' : showFilters}" *ngIf="this.filters">
            <cars-filters [filters]="this.filters"
                          [cars]="cars"
                          [params]="params"
                          (data)="update($event)">
            </cars-filters>
        </div>
        <div class="filters-button" [ngClass] = "{'activeButt' : showFilters}" (click)="showFilters = !showFilters">Фильтры</div>
        <div class="cars-page">
            <div class="d-flex flex-column" *ngIf="cars">
              <div class="cars-header">
                <form [formGroup] = "sortSelect">
                  <div class="form-group">
                    <label for="sorting">Выберите сортировку:</label>
                    <select class="form-control" id="sorting" formControlName="sorting">
                      <option value="A-Z">A-Z</option>
                      <option value="Z-A">Z-A</option>
                      <option value="priceDown">По убыванию цены</option>
                      <option value="priceUp">По возрастанию цены</option>
                      <option value="carsDown">Сначала новые</option>
                      <option value="carsUp">Сначала старые</option>
                    </select>
                  </div>
                </form>
                <div class="pager">
                  <div>Показывать на странице:</div>
                  <div>
                    <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 3}" (click)="pageSize=3">3</button>
                    <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 9}" (click)="pageSize=9">9</button>
                    <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 12}" (click)="pageSize=12">12</button>
                    <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 24}" (click)="pageSize=24">24</button>
                    <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 36}" (click)="pageSize=36">36</button>
                  </div>
                </div>
              </div>
              <div class="flex-container" *ngIf="cars.length != 0">
                <div class="car" *ngFor="let car of cars | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <div class="d-flex mb-1">
                    <i class="d-flex justify-content-center align-items-center mr-2">Рейтинг:</i>
                    <ng-template #rating let-fill="fill">
                      <span class="star" [class.full]="fill === 100">
                          <span class="half" [style.width.%]="fill">
                              <i class="fas fa-star"></i>
                          </span>
                          <i class="fas fa-star"></i>
                      </span>
                    </ng-template>
                    <ngb-rating *ngIf="car.rating" [starTemplate]="rating" [rate]="car.rating" [max]='5' [readonly]='true'></ngb-rating>
                    <div *ngIf="!car.rating">Нет оценки</div>
                  </div>
                  <div class="image" [ngStyle]="{'background-image':'url('+car.img+')'}"></div>
                  <div>
                    <div class="title">
                      <b>{{car.name}}</b>
                      <div class="year">{{car.createYear}} год</div>
                    </div>
                    <div class="details">
                      <span><i class="fas fa-users"></i>{{ car.sits }}</span>
                      <span><i class="fas fa-cogs"></i>{{ car.kpp | carKPP}}</span>
                      <span><i class="fas fa-fan"></i>{{ car.AC | carAC}}</span>
                      <span><i class="fas fa-gas-pump"></i>{{ car.fuelType | carFuel}}</span>
                    </div>
                    <div class="price"><b>{{car.price}}₽</b><span>&nbsp;в сутки</span></div>
                    <button type="button" class="btn btn-link btn-block" (click) = 'toCar(car.id)'>Карточка автомобиля</button>
                    <button type="button" class="btn btn-info btn-block" (click) = "modalOpen(car)">Забронировать</button>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center py-3" *ngIf="cars.length != 0">
                <button *ngIf="pageSize < cars.length" type="button" class="btn btn-light mb-2" (click)="pageSize = pageSize + 9">Показать ещё</button>
                <ngb-pagination [collectionSize]="cars.length" [(page)]="page" [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center mt-5" *ngIf="cars && cars.length == 0">
              <h3>Не удалось подобрать автомобиль</h3>
              <pre>Пожалуйста, выберите другие параметры</pre>
            </div>
        </div>
    </div>
</div>