.header{
    background-color: rgb(27,105,158);
    height: 50px;
    .menu-box{
        width: 70%;
        height: 100%;
        color: white;
        div{
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover, &.active{
                cursor: pointer;
                background: linear-gradient(to top, rgb(0,37,71), rgb(25,78,116));
            }
        }
    }
}
