<div class="d-flex flex-column margin-footer">
    <div class="header" *ngIf="!notFound">
        Cars4Rent - наши машины, Ваш комфорт!
    </div>
    <div class="menu" *ngIf="!notFound">
        <main-menu></main-menu>
    </div>
    <div class="scroll" *ngIf="!notFound">
        <prog-scroll [scrollColor]="'rgb(0,37,71)'"
                     [thumbColor]="'rgb(141,180,207)'"></prog-scroll>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <div class="footer" *ngIf="!notFound && !loadingService.isLoading">
        <footer></footer>
    </div>
</div>
<loader *ngIf="loadingService.isLoading"></loader>