@import '../colors.less';

.scrollbar{
    background-color: @blue;
    position: sticky;
    top: 50px;
    z-index: 10;
    .thumb{
      display: block;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 5px;
      width: 0;
      background-color: @lighter-blue;
      z-index: 11;
    }
    &:hover{
        cursor: pointer;
        .thumb{
            height: 25px;
        }
    }
  }

.d-flex{
    min-height: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    background-image: url(../assets/header.jpg);
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.menu{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.content{
    flex-grow: 1;
}

@media(max-width: 600px){
    .header{
        display: none;
    }
    .menu{
        position: fixed;
        width: 100%;
    }
    .content{
        margin-top: 50px;
    }
}