@import "../../../../colors.less";

.active{
    text-decoration: underline;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .car{
        border: 5px solid @light-blue;
        border-radius: 10px;
        box-shadow: 2px 2px 6px;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        position: relative;
        .image{
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        .dismiss{
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px;
            margin-top: -5px;
            margin-right: 0px;
        }
        .title{
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .details{
            padding: 5px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            i{
                margin-right: 2px;
                margin-left: 2px;
            }
        }
        .price{
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}