<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary align-baseline" (click)="modalOpen('add')">
        Добавить автомобиль <i class="fas fa-plus mt-1"></i>
    </button>
</div>
<div class="d-flex flex-column" *ngIf="cars">
  <div class="pager mb-2">
    <div>
      Показывать на странице: 
    </div>
    <div>
      <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 3}" (click)="pageSize=3">3</button>
      <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 9}" (click)="pageSize=9">9</button>
      <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 12}" (click)="pageSize=12">12</button>
      <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 24}" (click)="pageSize=24">24</button>
      <button type="button" class="btn btn-link" [ngClass]="{'active':pageSize == 36}" (click)="pageSize=36">36</button>
    </div>
  </div>
  <div class="flex-container">
    <div class="car" *ngFor="let car of cars | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <button type="button" class="btn dismiss" title="Удалить" (click)="removeCar(car.id, car.img)"><i class="fas fa-times"></i></button>
      <div class="image" [ngStyle]="{'background-image':'url('+car.img+')'}"></div>
      <div>
        <div class="title">
          <b>{{car.name}}</b>
          <div class="year">{{car.createYear}} год</div>
        </div>
        <div class="details">
          <span><i class="fas fa-users"></i>{{ car.sits }}</span>
          <span><i class="fas fa-cogs"></i>{{ car.kpp}}</span>
          <span><i class="fas fa-fan"></i>{{ car.AC}}</span>
          <span><i class="fas fa-gas-pump"></i>{{ car.fuelType}}</span>
        </div>
        <div class="price"><b>{{car.price}}₽</b><span>&nbsp;в сутки</span></div>
        <button type="button" class="btn btn-info btn-block" (click) = "modalOpen('edit', car)">Изменить</button>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center py-3">
    <button *ngIf="pageSize < cars.length" type="button" class="btn btn-light mb-2" (click)="pageSize = pageSize + 9">Показать ещё</button>
    <ngb-pagination [collectionSize]="cars.length" [(page)]="page" [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
<div *ngIf="!cars?.length" class="d-flex justify-content-center align-items-center">
  <h4>Нет автомобилей</h4>
</div>