<div class="container">
  <div class="row mb-3">
    <div class="col-10 d-flex align-items-center">
      <h2 class="bk-header m-0" style="cursor: pointer;" *ngIf="user">Персональные данные<i class="far fa-edit ml-3 btn btn-link" title="Редактировать" (click)="modalOpen()"></i></h2>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-start">
      <button class="btn btn-link p-0" (click)="exit()">
        Выйти
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center form">
    <div class="form-group d-flex flex-column align-items-end">
      <label>ФИО</label>
      <h6>{{ user?.surname }} {{ user?.name }} {{ user?.secondname }}</h6>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-start">
      <div class="form-group">
        <label>Email</label>
        <h6>{{ user?.email}}</h6>
      </div>
      <div class="form-group">
        <label>Телефон</label>
        <h6>{{ user?.phone || "Не указан" }}</h6>
      </div>
    </div>
  </div>
</div>