<div class="background">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="list d-flex flex-column justify-content-center align-items-center">
            <p>К сожалению, такой страницы на нашем сайте не существует</p>
            <p>Возможно, эта страница уже уехала с другим клиентом</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-secondary m-3" routerLink = '/home'>На главную</button>
                <button class="btn btn-secondary m-3" routerLink = '/cars'>К автомобилям</button>
            </div>
        </div>
    </div>
</div>