<div class="container align-items-center justify-content-center py-4">
    <div class="card border-primary">
        <div class="card-header text-primary bg-light">
            <b>Вход в личный кабинет</b>
        </div>
        <form class="card-body" [formGroup]="enterForm" (submit)="onEnterClick()">
            <div class="form-group">
                <label for="login">Email</label>
                <input id="login" class="form-control" formControlName="email" />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input id="password" type="password" class="form-control" formControlName="password" />
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="showError">
                {{messageText}}
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
            <a *ngIf='!modal' class="btn btn-link" routerLink="/sign-up">Регистрация</a>
            <button type="button" *ngIf='modal' class="btn btn-link" (click)="changeForm()">Регистрация</button>
            <button type="button" *ngIf='errorCount > 2' class="btn btn-link text-warning" (click)="changePassword()">Забыл пароль</button>
        </form>
    </div>
</div>