<div class="home d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h4 class="py-2">Несколько наших довольных клиентов:</h4>
    <div class="flex-container justify-content-around">
        <div class="car" *ngFor="let order of completeOrders">
          <div class="image" [ngStyle]="{'background-image':'url('+order.car.img+')'}"></div>
          <div class="w-100">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <b>{{order.car.name}}</b>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <b>Дата аренды: </b>
              {{ngbDateToString(order.dateFrom)}}{{ngbDateToString(order.dateTo)? ' - ' + ngbDateToString(order.dateTo):''}}
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <b>Время подачи: </b>
              {{ngbTimeToString(order.time)}}
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <b>Место подачи: </b>
              {{order.place.name}}
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center"
            [ngClass]="{'planned': order.status == '1', 'activeOrder': order.status == '2',
                        'complete': order.status == '3', 'canceled': order.status == '4'}">
              <b>Статус заказа: </b>
              {{order.status | orderStatus}}
            </div>
            <div class="price">
              <b>{{order.orderSum}}₽</b>
              <span>&nbsp;за {{
                  order.orderSum/order.car.price === 1 ||  order.orderSum/order.car.price % 10 === 1 ?
                  order.orderSum/order.car.price + ' сутки' : order.orderSum/order.car.price + ' суток'}}
                </span>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h4 class="py-2">У нас вы найдете автомобили на любой вкус:</h4>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h6 class="pb-2">Недорогие и экономичные:</h6>
      <div class="flex-container justify-content-around">
        <div class="car" *ngFor="let car of lowCars">
          <div class="image" [ngStyle]="{'background-image':'url('+car.img+')'}"></div>
          <div>
            <div class="title">
              <b>{{car.name}}</b>
              <div class="year">{{car.createYear}} год</div>
            </div>
            <div class="details">
              <span><i class="fas fa-users"></i>{{ car.sits }}</span>
              <span><i class="fas fa-cogs"></i>{{ car.kpp | carKPP}}</span>
              <span><i class="fas fa-fan"></i>{{ car.AC | carAC}}</span>
              <span><i class="fas fa-gas-pump"></i>{{ car.fuelType | carFuel}}</span>
            </div>
            <div class="price"><b>{{car.price}}₽</b><span>&nbsp;в сутки</span></div>
            <button type="button" class="btn btn-info btn-block" (click) = "toCar(car.id)">К автомобилю</button>
          </div>
        </div>
      </div>
      <h6 class="py-2">Для любителей роскоши и комфорта:</h6>
      <div class="flex-container justify-content-around">
        <div class="car" *ngFor="let car of hightCars">
          <div class="image" [ngStyle]="{'background-image':'url('+car.img+')'}"></div>
            <div>
              <div class="title">
                <b>{{car.name}}</b>
                <div class="year">{{car.createYear}} год</div>
              </div>
              <div class="details">
                <span><i class="fas fa-users"></i>{{ car.sits }}</span>
                <span><i class="fas fa-cogs"></i>{{ car.kpp | carKPP}}</span>
                <span><i class="fas fa-fan"></i>{{ car.AC | carAC}}</span>
                <span><i class="fas fa-gas-pump"></i>{{ car.fuelType | carFuel}}</span>
              </div>
              <div class="price"><b>{{car.price}}₽</b><span>&nbsp;в сутки</span></div>
              <button type="button" class="btn btn-info btn-block" (click) = "toCar(car.id)">К автомобилю</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>